@tailwind base;
@tailwind components;

body {
    font-family: "SF NS Display", sans-serif;
}

.bg-blur {
    background: rgba(40, 36, 22, 0.5);
    backdrop-filter: blur(20px);
}

.welcome {
    background: url("../img/welcome-2.png") no-repeat center;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-parent-2 {
    column-count: 3;
}

.grid-parent-3 > img {
    width: 100%;
}

@media only screen and (max-width: 535px){
    .grid-parent {
        grid-template-columns: repeat(1, 1fr);
    }

    .welcome {
        background: none;
    }

}

.black-blur {
    position: relative;
}

.black-blur:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 50%;
    height: 1px;
    background: linear-gradient(
            270deg
            ,hsla(0,0%,100%,0) 0,#000000 90%,#000000);
}

.black-blur:before {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    width: 50%;
    height: 1px;
    background: linear-gradient(
            90deg
            ,hsla(0,0%,100%,0) 0,#000 90%,#000);
}

.black-blur-nav:before {
    top: 0;
    height: 30px;
    width: 30%;
}

.black-blur-nav:after {
    top: 0;
    height: 30px;
    width: 30%;
}


@tailwind utilities;